version: "3.9"

services:
  brixa-db:
    image: postgres:16
    container_name: brixa-db
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: brixa
    ports:
      - "5432:5432"
    volumes:
      - brixa-db-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d brixa"] # or use $POSTGRES_DB
      interval: 5s
      retries: 5
      start_period: 5s

  brixa-pgadmin:
    image: dpage/pgadmin4:latest
    container_name: brixa-pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      brixa-db:
        condition: service_healthy
    volumes:
      - brixa-pgadmin-data:/var/lib/pgadmin

  migrator:
    build:
      context: .
      dockerfile: apps/api/Dockerfile.prod
      target: migrator
      args:
        DATABASE_URL: postgresql://admin:admin@brixa-db:5432/brixa?schema=public
    environment:
      DATABASE_URL: postgresql://admin:admin@brixa-db:5432/brixa?schema=public
    command: npx prisma migrate deploy --schema=packages/database/prisma/schema.prisma --config=packages/database/prisma.config.ts
    depends_on:
      brixa-db:
        condition: service_healthy


  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile.prod
      args:
        DATABASE_URL: postgresql://admin:admin@brixa-db:5432/brixa?schema=public
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgresql://admin:admin@brixa-db:5432/brixa?schema=public
    depends_on:
      brixa-db:
        condition: service_healthy
      migrator:
        condition: service_completed_successfully

  api:
    build:
      context: .
      dockerfile: apps/api/Dockerfile.prod
      target: runner
      args:
        DATABASE_URL: postgresql://admin:admin@brixa-db:5432/brixa?schema=public
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://admin:admin@brixa-db:5432/brixa?schema=public
    depends_on:
      brixa-db:
        condition: service_healthy
      migrator:
        condition: service_completed_successfully

volumes:
  brixa-db-data:
  brixa-pgadmin-data:
